# TODO note this is broken since bun publish does not work with OIDC
# https://github.com/oven-sh/bun/discussions/21999
# keeping it around because I'd like to test the bun publish workflow with OIDC in the future

name: Build and Publish to NPM
on:
  push:
    branches:
      - master

# by default, permissions are read-only, read + write is required for git pushes
permissions:
  contents: write
  id-token: write # Required for OIDC

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: jdx/mise-action@v3
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v6
        with:
          github-token: ${{ secrets.github_token }}
          version-file: "./package.json"
          output-file: "CHANGELOG.md"
      - name: Publish to NPM
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        # bun publish does not work with OIDC
        run: bun publish --provenance --access public
      - name: Github Release
        if: ${{ steps.changelog.outputs.skipped == 'false' }}
        uses: softprops/action-gh-release@v2
        with:
          # output options: https://github.com/TriPSs/conventional-changelog-action#outputs
          body: ${{ steps.changelog.outputs.clean_changelog }}
          tag_name: ${{ steps.changelog.outputs.tag }}
